asgiref==3.7.2
Django==5.0
django-cors-headers==4.3.1
djangorestframework==3.14.0
Pillow==10.1.0
psycopg2-binary==2.9.9
PyYAML==6.0.1
sqlparse==0.4.4
firebase-admin==6.5.0
requests==2.31.0
channels==4.0.0
channels-redis==4.1.0
daphne==4.0.0
gunicorn==21.2.0
