{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YORYOR - Tanishuvlar ilovasi (+18)</title>
    <link rel="stylesheet" href="{% static 'web/css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/styles.css' %}">
    <meta name="description" content="Yor Yor"/>
    <meta name="description" content="Munosabat"/>
    <meta name="description" content="Tanishuv"/>
    <meta name="description" content="Baxt"/>
    <meta name="description" content="Sevgi"/>
    <meta name="description" content="Qizlar"/>
    <meta name="description" content="Yigitlar"/>
    <meta name="description" content="Uchrashuv"/>
    <meta name="description" content="how are you"/>
    <meta name="description" content="love"/>
    <meta name="description" content="Uzbekistan"/>
</head>
<body>
<section class="hero is-fullheight is-fullwidth">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-4">
                    <p class="title is-1 is-danger">Yor Yor</p>
                    <p class="subtitle is-6">Mazmunli munosabatlar uchun mobil ilova! <br> (+18)</p>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column is-2">
                    <a href="#">
                        <figure class="image">
                            <img src="{% static 'web/img/appstore.png' %}" alt="yoryor">
                        </figure>
                    </a>
                </div>

                <div class="column is-2">
                    <a href="#">
                        <figure class="image">
                            <img src="{% static 'web/img/googleplay.png' %}" alt="Yor Yor">
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
