<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDD8S7eBLLkAca5YBWA6n6vj56KcW4P5x4</string>
	<key>GCM_SENDER_ID</key>
	<string>366080468163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yoryor</string>
	<key>PROJECT_ID</key>
	<string>yor-yor-23e39</string>
	<key>STORAGE_BUCKET</key>
	<string>yor-yor-23e39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366080468163:ios:4f7ad4f2bb2c7baecbee76</string>
</dict>
</plist>